# Appendix A: Datasets Processing & Cleaning Code

In [ ]:
# Packages import and installation

import pandas as pd
import numpy as np 

%pip install matplotlib
import matplotlib.pyplot as plt

%pip install seaborn
import seaborn as sns
sns.set_style("whitegrid")

from pandas.plotting import scatter_matrix

import scipy.stats as stats

%pip install nltk
import nltk
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import FreqDist
import re
nltk.download('punkt')

nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

pd.set_option('display.max_rows', 25)

## Data Pre-processing and Cleaning on the Target Dataset

In [ ]:
# Reading the Target dataset, stored as an Excel file

target_data = pd.read_excel("target_data.xlsx")
target_data.head()

In [ ]:
# Uploading the dataset into a data frame, for additional processing

df = pd.read_excel("target_data.xlsx")

In [ ]:
# Checking the dataset column types

print(df.dtypes)

In [ ]:
# Renaming the first columns as 'Index' instead of unnamed:

df.rename(columns = {"Unnamed: 0": "Index"}, inplace = True)

print(df.columns)

In [ ]:
# Getting some statistics on the dataset

df.describe()

In [ ]:
# Are there any cells with NaN/Na value or any empty cells? 

df.isnull().values.any() # This checks for NaN/Na and empty cells in the entire DataFrame

**RESULTS**: There are no cells with Nan or Na value or empty cells in this dataset, next, the dataset is going to be checked for 
any other String values, cells with value 0 and for duplicated rows.

In [ ]:
# Are all the columns, numeric columns? 

df.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

**RESULTS**: Column 'Instrument' appears to be a string column. This is correct because this column refers to the referencing code system used to identify the company.
All the other columns have numerical values.

In [ ]:
# Are there cells with value 0?

df.eq(0).sum()

**RESULTS**: It appears that there are 3 columns with cells with value 0. These columns are 'Operating Margin - %, TTM' , 'Revenue from Business Activities - Total.3' and 'Debt - Total'. A total of 7 rows with value 0 overall in these column have been identified.
To create a complete and comprehensive dataset, these rows are dropped as the outcome is to avoid null values to affect the results. Finally, no duplicated rows are found in the dataset.

In [ ]:
# In column 'Operating Margin - %, TTM' which rows exactly contain value 0? 

Operating_margin = df['Operating Margin - %, TTM'] == 0

Operating_margin_True = df[Operating_margin]

In [ ]:
# In column 'Revenue from Business Activities - Total.3' which rows exactly contain value 0? 

Revenue_business = df['Revenue from Business Activities - Total.3'] == 0

Revenue_business_True = df[Revenue_business]

In [ ]:
# In column 'Debt - Total' which rows exactly contain value 0? 

Debt_total = df['Debt - Total'] == 0

Debt_total_True = df[Debt_total]

In [ ]:
# Creating a new dataframe which excludes these rows with value 0, by dropping the not needed rows and creating a new cleaned df

new_df = df.drop([109, 155, 71, 2, 14, 26, 189], axis=0)
new_df.head()

In [ ]:
# Double checking that no 0 zalues are left in the new dataframe

new_df.eq(0).sum() # Cleaned!

In [ ]:
# Are there duplicated rows across all columns in the new dataframe? 

Duplicated_Rows = new_df[new_df.duplicated()]

Duplicated_Rows # No!

In [ ]:
# Adding a Column Target/Non-Target, with number 1 to indicate the row belongs to the Target dataset and for later on classification task

new_df.insert(0, 'Target/Non-Target', '1')

In [ ]:
new_df

## Data Pre-processing and Cleaning on the Non-Target Dataset

In [ ]:
# Uploading the Non-Target dataset into a data fram

df2 = pd.read_excel("peer_data.xlsx")

df2.head()

In [ ]:
# Checking the dataset column names and types:

print(df2.dtypes)

In [ ]:
# Renaming the first columns as 'Index' instead of unnamed:

df2.rename(columns = {"Unnamed: 0": "Index"}, inplace = True)

print(df2.columns)

In [ ]:
# Checking here if the 2 initial dataframes (Target and Non-Target) have actually the same columns:

set(df2.columns).intersection(set(new_df.columns))

**RESULTS**: It appears there are 21  columns instead of 22. This is due to the fact that the date limit colum 'AD' is not present as the dataset comprises data from until the time of extraction (December 2021).

In [ ]:
# Getting some statistics on the dataset

df2.describe()

In [ ]:
# Are there cells with NaN/Na value or any empty cells? 

df2.isnull().values.any() # This checks for NaN/Na and empty cells in the entire DataFrame

In [ ]:
# Are all the columns, numerical columns? 

df2.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

**RESULTS**: Again, column Instrument appears to be a string column. Now, also column 'AD-30, is not considered numerical. Let's have a look at the column type.

In [ ]:
# Checking the dataset columns types

print(df2.dtypes)

**RESULTS**: The 'AD-30' Column seems to be cathegoriesed as object. We will change it to the more accurate type: date-time

In [ ]:
# Converting the AD-30 column into column type datetime64

df2['AD-30']= pd.to_datetime(df2['AD-30'])

In [ ]:
# Checking again the dataset columns types to see if everything is in order here

print(df2.dtypes)

In [ ]:
# Running again the numeric column code. Are the columns all numeric now? ( Except for column Instrument)

df2.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all())

**RESULTS**: All good now!

In [ ]:
# Are there cells with value 0?

df2.eq(0).sum()

**RESULTS**: It appears that there are 6 columns with cells with value 0. These columns are 'Index' which is due to the fact that it starts at 0 instead of 1, which is okay. Next, we have the 'Revenue from Business Activities - Total.1' , 'Revenue from Business Activities - Total.2', 'Revenue from Business Activities - Total.3', 'Debt - Total' and 'Cash & Cash Equivalents - Total' columns.

A total of 414 rows with value 0 overall in these column have been identified. Again, to create a complete and comprehensive dataset, these rows are dropped.
Finally, no duplicated rows are found in the dataset.

In [ ]:
# In column 'Revenue from Business Activities - Total.1' which rows exactly contain value 0? 

Revenue_1 = df2['Revenue from Business Activities - Total.1'] == 0

Revenue_1_True = df2[Revenue_1]


# In column 'Revenue from Business Activities - Total.2' which rows exactly contain value 0? 

Revenue_2 = df2['Revenue from Business Activities - Total.2'] == 0

Revenue_2_True = df2[Revenue_2]


# In column 'Revenue from Business Activities - Total.3' which rows exactly contain value 0? 

Revenue_3 = df2['Revenue from Business Activities - Total.3'] == 0

Revenue_3_True = df2[Revenue_3]


# In column 'Debt - Total' which rows exactly contain value 0? 

Debt = df2['Debt - Total'] == 0

Debt_True = df2[Debt]


# In column 'Cash & Cash Equivalents - Total' which rows exactly contain value 0? 

Cash = df2['Cash & Cash Equivalents - Total'] == 0

Cash_True = df2[Cash]


# Dropping all the above rows with values 0 and creating a new dataframe

df2_new = pd.concat([df2, Revenue_1_True, Revenue_2_True, Revenue_3_True, Debt_True, Cash_True]).drop_duplicates(keep=False)


# Checking the number of rows and columns

df2_new.shape

In [ ]:
# Are there cells with value 0 in this new dataset (except for the Index)?

df2_new.eq(0).sum()

In [ ]:
# Are there duplicated rows across all columns in the new dataframe? 

Duplicated_Rows_2 = df2_new[df2_new.duplicated()]

Duplicated_Rows_2 # No!

In [ ]:
# Adding a Column Target/Non-Target, with number 0 to indicate the row belongs to the Non Target dataset

df2_new.insert(0, 'Target/Non-Target', '0')
df2_new.shape

## Now merging the 2 datasets (Target and Non-Target) together

In [ ]:
# Merging the target dataset new_df, with the non target df2_new + fixing the column type of the Terget column as integer

num_dataset = new_df.append(df2_new)
num_dataset["Target/Non-Target"] = num_dataset["Target/Non-Target"].astype(str).astype(int)
num_dataset.head()

In [ ]:
# Checking the columnn and rows numbers
num_dataset.shape

In [ ]:
# Exporting the outcome into pickle, so we can use this dataset later, for further processing

num_dataset.to_pickle("Merged numerical financial dataset")

## Data Pre-processing and Cleaning on the Headlines Dataset

In [ ]:
# Uploading the dataset into a data frame, let's have a look:

df3 = pd.read_excel("headlines.xlsx")

# Let's have a look at all the columns

df3.head()

In [ ]:
# Are there missing values in each of the columns?

df3.isnull().any()

In [ ]:
# Checking the dataset column types

print(df3.dtypes)

# Renaming the first columns as 'Index' instead of unnamed:

df3.rename(columns = {"Unnamed: 0": "Index"}, inplace = True)

print(df3.columns)

In [ ]:
# Removing all special characters using regex, from column 'Headlines'. 

df3['Headlines'] = df3.Headlines.replace(r'[^\w\s]|_', '', regex=True)

# Adding homogenity by lowering all the letters

df3['Headlines'] = df3.Headlines.str.lower()

In [ ]:
# Removing stop words using the function defined below

# Getting all the english stopwords list first

stop_words = set(stopwords.words('english'))

# Defining my cleaning function, by first tokenizing the text in column Headlines:

def Cleaning_function(Headlines):
    '''Tokenizing the text, removing any stop words and returning
    the cleaned tokenized sentence'''
    word_tokens = word_tokenize(Headlines)
    
    Cleaned_sentence = []
    for word_token in word_tokens:
        if word_token not in stop_words:
            Cleaned_sentence.append(word_token)
            
# Joining the cleaned sentences together and returning my clean text:

    text = (' '.join(Cleaned_sentence))
    return text

# Now applying this newly created clean function into my dataframe with apply() to column Headlines

df3['Headlines'] = df3['Headlines'].apply(Cleaning_function)

# Printing the results:

print(df3['Headlines'])

In [ ]:
# Transforming the headlines column into strings so I can perform Frequency distribution:

Text = df3['Headlines']

txt_string = Text.to_string()

# But first, counting the vocabularies in my Text in string format

print(len(txt_string)) # 17.888.039 items counted

In [ ]:
# Plotting the Frequency distribution of the text keywords.
# But first, removing the punctuation again. 

txt_string_nopunct = re.sub(r'[^\w\s]', '', txt_string)
txt_string_nopunct

# Separating the words with a space

text_list = txt_string.split(" ")

In [ ]:
# Now plotting

# Getting the frequency distribution list 

freqDist = FreqDist(text_list)

# Printing the 15 most common keywords

print(freqDist.most_common(15))

# Creating FreqDist for these 15 most common keywords

freqDist = FreqDist(text_list).most_common(15)

# Converting the above to Pandas series via Python Dictionary for easier plotting

freqDist = pd.Series(dict(freqDist))

# Removing the empty space character'' + the 'dj' character

freqDist.pop('')
freqDist.pop('dj')

# Setting figure and ax into variables, for plotting

fig, ax = plt.subplots(figsize=(10,10))

# Seaborn plotting using Pandas attributes + xtick rotation for ease of viewing:

FreqDist_plot = sns.barplot(x=freqDist.index, y=freqDist.values, ax=ax)

# Displaying the titles
plt.xlabel('Words', fontsize=15)
plt.ylabel('Frequency count', fontsize=15)
plt.xticks(rotation=30)
plt.title("Word frequency distribution", fontsize=25)

**RESULTS**: There were multiple company referencing code duplications in column ‘RIC’, so the dataset was grouped by this particular column and the text merged together. Unneccessary columns were also dropped in the script below, to make it sentiment analysis ready.

In [ ]:
# Dropping unneccessary columns

df3_dropped = df3.drop(['sdate'], axis=1)

In [ ]:
# Dropping unneccessary columns

df3_dropped_final = df3_dropped.drop(['edate'], axis=1)

In [ ]:
# Visualizing the outcome

df3_dropped_final.head()

In [ ]:
# Sorting the dataset by column RIC, as the enties are repeted

headlines_sorted = df3_dropped_final.groupby(['RIC'])['Headlines'].apply(list)

In [ ]:
# Visualizing the sorded Headlines column by RIC column

headlines_sorted

In [ ]:
# Placing the result in a dataframe df

df = pd.DataFrame(headlines_sorted)

In [ ]:
df # Done

In [ ]:
# Checking the dataframe type

print(type(df['Headlines'] ))

In [ ]:
# Adjusting the headlines type to string, to make it sentiment analysis ready

df['Headlines']  = df['Headlines'].astype(str)

In [ ]:
# Exporting the outcome into pickle, so we can use this dataset later, for further processing

df.to_pickle("Cleaned headlines dataset")